body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(255,112,102,1) 0%, rgba(255,189,102,1) 35%, rgba(255,102,168,1) 100%);;
    margin: 0;
    padding: 0;


}
header{
    text-align: center;   
   }
   .active{
       background-color:  #ff6961;
       color: black;
   }

   h1 {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    color: #ff6961;
}

   ul{
       list-style-type: none;
       margin:0;
       padding:0;
       overflow: hidden;
       background-color: #333;
   }
 ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

   li a{
       display: block;
       color:white;
       text-align: center;
       padding: 15px;
       text-decoration: none;
   }
 li a:hover:not(.active) {
    background-color: #555;
}


   .footer{
       background-color: #333;
       color: white;
       padding: 15px;
       text-align: center;
      position: relative;
       bottom: 0;
       width: 100%;
   }
   /* Encabezado */

p::first-letter{
    font-size: 3em;
    color:red;
}

/* Trailer */
.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}