body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(255,112,102,1) 0%, rgba(255,189,102,1) 35%, rgba(255,102,168,1) 100%);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;   
    margin-left: 100px;
}

.active {
    background-color: #ff6961;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,112,102,1);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(255,112,102,1);
}

.container {
    width: 30%;
}

.custom-carousel {
    width: 30%; /* Ajusta este valor al ancho deseado */
    margin: 0 auto; /* Para centrar el carrusel */
}

h1 {
    padding: 10px;
    margin: 0;
    text-align: center;
    color: rgba(255,112,102,1);
    margin-top: 20px;
    font-size: 36px;
}

.footer {
    background-color: rgba(255,112,102,1);
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p::first-letter {
    font-size: 3em;
    color: red;
}

img:hover {
    margin: 5px;
    height: 100%;
    cursor: pointer;
}

/* Trailer */
.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.btn-trigger {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    right: -20px;
    width: 50px;
    height: 50px;
    background-color: rgba(255,112,102,1);
    border: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
}

.btn-trigger:hover {
    background-color: #453630;
}

nav {
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: rgba(255,112,102,1);
    position: fixed;
    transition: 0.5s all;
    display: flex;
    flex-direction: column;
    align-items: start;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    padding: 15px;
    position: relative;
}

nav ul li a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav ul li a:hover {
    color: pink;
}

.menu-text {
    width: 150px;
}

h1 {
    background-color: rgba(255,112,102,1);
}

.footer {
    background-color: rgba(255,112,102,1);
}

/* Trailer */
.embed-container {
    margin: 100px;
    margin-left: 100px;
}

.Trailer {
    color: white;
    margin-left: 300px;
}

.contenido {
    display: inline-block;
    margin-top: 25px;
    margin-left: 300px;
    width: 90%;
}

.contenido img {
    width: 50%;
    height: 50%;
    border: #a5df00 solid 20px;
}

.contenido h2 {
    font-size: 4em;
}

.contenido p {
    font-size: 1.5em;
}

footer {
    border-top: 50px;
    clear: both;
    display: block;
    float: left;
    font-size: 0.5em;
}

@media screen and (max-width: 639px) {
    * {
        font-size: 12px;
    }
    .contenido {
        width: 70%;
    }
}

* {
    font-size: 12px;
}

header {
    display: block;
}

header figure {
    float: left;
}

header h1 {
    font-size: 1.5em;
}

.Trailer {
    margin-left: 200px;
}

@media screen and (max-width: 430px) {
    * {
        font-size: 12px;
    }
    .contenido {
        width: 70%;
    }
    header {
        display: block;
    }
    header figure {
        float: left;
    }
    header h1 {
        font-size: 1.5em;
    }
    .Trailer {
        color: white;
        margin-left: 200px;
    }
    .custom-carousel {
        
        width: 60%; /* Ajusta este valor al ancho deseado */
        margin: 0 auto; /* Para centrar el carrusel */
    }
}

