/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Título principal */
h1 {
    font-size: 36px;
    margin-top: 0;
}

/* Enlaces de navegación */
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

/* Contenedor principal */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Videos y audios */
video, audio {
    max-width: 100%;
    display: block;
    margin: 20px 0;
}

/* Imágenes */
a img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Enlaces del pie de página */
footer a {
    color: #fff;
    text-decoration: none;
}
/* Estilo para el elemento de navegación */
nav {
    background-color: #333; /* Color de fondo del menú de navegación */
    padding: 10px 0; /* Espaciado interno superior e inferior */
}

/* Estilo para los enlaces en el menú de navegación */
nav a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    margin: 0 15px; /* Espacio entre los enlaces */
    font-size: 18px; /* Tamaño de fuente de los enlaces */
    transition: color 0.3s; /* Transición de color suave */
}

/* Estilo para los enlaces en el menú de navegación al pasar el mouse */
nav a:hover {
    color: #ffcc00; /* Cambia el color del texto al pasar el mouse */
}
