/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #696969; /* Color de fondo de la página */
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
     background: linear-gradient(90deg, #111, #333);
    letter-spacing: 2px;
    color: #fff; /* Color del texto del encabezado */
    padding: 20px;
    text-align: center;
}
.texto{
    position: absolute;
    top: 50%;
    width:100%;
    text-align: center;
    font-family: 'Kenia', sans-serif;
    color:black;
    display: block;
    text-shadow:  1px 5px 15px black;
    font-size: 30px;
    
}

/* Título principal */
h1 {
    font-family: 'Kenia', sans-serif;
    font-size: 36px;
    margin-top: 0;
}
h3 {
    font-size: 36px;
    margin-top: 0;
    color: white;
}
/* Enlaces de navegación */


nav a:hover {
    color: #ffcc00;
}

/* Contenedor principal */
.main-container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}


/* Imágenes */
.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 10px solid black;
}


img:hover{
    transition:all 0.6s ease;
    filter: brightness(150%);
}

/* Videos y audios */
video, audio {
    max-width: 100%;
    display: block;
    margin: 20px 0;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Enlaces del pie de página */
footer a {
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: aqua;
}
