body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(155,250,176,1) 0%, rgba(255,255,255,1) 100%);
    ;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;   
   }
   .active{
       background-color:#9bfab0;
       ;
       color: black;
   }
   ul{
       list-style-type: none;
       margin:0;
       padding:0;
       overflow: hidden;
       background-color: #333;
   }
   li{
       float:left;
   }
   li a{
       display: block;
       color:white;
       text-align: center;
       padding: 15px;
       text-decoration: none;
   }
   li a:hover(:not(.active)){
       background-color: #333;
   }
   h1{
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 36px;  
       padding: 10px;
       margin: 0;
       background: radial-gradient(circle, rgba(155,250,176,1) 0%, rgba(255,255,255,1) 100%);
       
   }
   .footer{
       background-color: #333;
       color: white;
       padding: 15px;
       text-align: center;
       position: fixed;
       bottom: 0;
       width: 100%;
   }
   /* Encabezado */



p::first-letter{
    font-size: 3em;
    color:red;
}
img:hover{
    margin: 5px;
    height: 100%;
cursor: pointer;;
}

/* Trailer */
.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}