

body{
    background-color:grey   ;
}
nav{
    color: black;
}
    nav #quinti{
        
        background-color: yellow;
        color: #333;
    }
    nav #darling{
        background-color:yellow ;
    }

table{
    border-collapse:collapse;

}
td,th{
    border: 1px solid;
    padding: .5em;
}

th{
    background: #333;
    color:#fff; 
}
































