
*{
    background-color: black;
   color:white;
   box-sizing:border-box;
   margin: 0;
   padding: 0;
    /*color: white;*/
  /*  color: var(black);*/
}
/*body{
    background-color:black   ;
}*/

 .nav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
 }  
 .nav li{
    display: inline-block;
}
.nav a{
    color: white;
    background-color: #13a4a4;
    padding:5px;
    border-radius:2px;
    text-decoration: none;
}
/*#cabecera{
    position: fixed;   

  
}*/
h1{font-size: 2rem;}
p{font-size: 1rem;}

    div img{
        border-radius: 20 px;
    }

@media (min-width :360){
    .video{
        width:25% ;
    }
    @media (min-width :640){
        .video{
            width:50% ;
        }
        @media (min-width :480px){
            .video{
                width:25% ;
            }
}
    





